html body {
	margin: 0;
	width: 100%;
}

#container {
	padding-left: 300px;
}

#content {
	padding: 10px;
}

@media only screen and (max-width : 992px) {
	#container {
		padding-left: 0px;

	}
}

.carousel .carousel-item {
	width: 100%;
}

.myName {
	width: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.indicators {
	display: none;
}

#myImg {
	border-radius: 50px;
	width: 5em;
}

.heureDate {
	width: 100%;
	height: 31em;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hPlus {
	height: 300px !important;
}

h5 {
	font-size: 18px !important;
	font-weight: bold;
}

/*page login */

#myImg2 {
	border-radius: 50px;
	width: 7em;
	margin-top: 20px;
}

.input-field label {
	color: black !important;
}

.input-field input {
	border-color: black !important;
}

#btn_submit {
	margin-left: 50px;
}

.btn,
.btn-large,
.btn:hover,
.btn-large:hover,
.btn-small:hover {
	background-color: #bda76e !important;
}