html body {
  margin: 0;
  display: inline-flex;
  width: 100%;
}

#containerMenu {
  float: right;
  width: 72.1em;
  height: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin-left: 1em;
}

.sousMenuContainer {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  float: left;
  width: 17em;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.collapsible {
  box-shadow: none !important;
  margin: 0;
}

section {
  display: inline-flex;
  width: 100vw;
  justify-content: center;
  flex-wrap: wrap;
}

#tabs-swipe {
  height: 3.5em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.mySwipe {
  width: 100%;
  height: 40em;
  overflow: hidden;
}

.mySwipe:hover {
  overflow-y: auto !important;
}

.myName {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.indicators {
  display: none;
}

#myImg {
  border-radius: 50px;
  width: 5em;
}

.enTête {
  width: 100%;
  margin: 0.5em;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.heureDate {
  width: 100%;
  height: 31em;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h5 {
  font-size: 18px !important;
  font-weight: bold;
}