
form{
   
    border-radius: 5px;
    opacity: 0,3;
    margin-top:15px;
    height: 330px; 
}

#com{
    width: 100%;
    height: 8em;
}

a{
    margin-bottom: 5px;
}
.formulaire{
    margin-bottom: 100px;
}
card_content{
    width:50%;
}

#btn_envoi{
    background-color: #cbd13d !important;
    color : #fefefe;
    border : 2px #cbd13d solid;
    width:30%;
}

.card-magic{
    width:50%;
}